/*Colours*/

h1{
    color: #510d91;
    background-color:#e6a5fa;
}

h2{
    color:#630db5;
    background-color: antiquewhite;
}

h3{
    color:#2E006E;
    background-color: azure;
}

main{
    color:#2E006E;
}

body{
    color:#8127FF;
}


/*Position and Font*/

h1{
    text-align: center;
    margin: 5px;
    margin-bottom: 2%;
    width: 100%;
    text-decoration: underline;
    padding: 10px;
    border:#510d91 solid;
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 5px;
    margin-bottom: 2%;
    width: 50%;
    text-decoration: underline;
    padding: 10px;
    border:#2E006E solid;
}

h3{
    font-family: 'Franklin Gothic Medium';
    font-size: medium;
}

ul{
    list-style-type: none;
    margin: 5px;
    margin-bottom: 2%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
    border:#510d91 solid;
}

li{
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    display: block;
    text-align: center;
    font-size: larger;
    padding: 15px;
    width: 12%
}

li a:hover{
    background-color:#f7d5a8
}

.centImg{
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.left-col{
    background-color: aliceblue;
    border-radius: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    margin: 10px;
    width: 45%
}

.right-col{
    float: right;
    background-color: aliceblue;
    border-radius: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    margin: 10px;
    width: 25%
}

.centre-text{
    margin-left: 20%;

}

fieldset{
    margin-left: 5px;
}

table{
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
    border-collapse: collapse;
}

th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}

td{
    display: table-cell;
    vertical-align: inherit;
    border: black 2px solid;
    border-spacing: 2px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tr:nth-child(even) {
    background-color:antiquewhite;
}

.carousel{
    position:absolute;
    border-radius: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    margin: 5px;
    width:50%;
    border-collapse: collapse;
}

.carousel-inner{
    width:100%
}

.carousel-item{
    width:100%
}

.carousel-control-prev{
    float: left;
    bottom: 15%;
    height:10%;
    position: absolute;
    align-items: center;
}

.carousel-control-next{
    bottom: 15%;
    height:10%;
    margin-left: 42%;
    position: absolute;
    align-items: center;
}

