/*Colours*/

h1{
    color:#B46CFF;
    background-color: #C6C7FF;
}

h2{
    color:#B46CFF;
}

h3{
    color:#2E006E;
}

main{
    color:#C6C7FF;
}

body{
    color:#8127FF;
}



/*Position and Font*/

h1{
    text-align: center;
    margin: auto;
    width: 50%;
    text-decoration: underline;
    padding: 10px;
}

h2{
    font-family: 'luminari',fantasy;
}

h3{
    font-family: 'Franklin Gothic Medium';
}